body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    border-radius: 7px;
    background-color: #d1cece;
}

form{
  max-width: 500px;
  margin: 10px auto;
  background-color: #ffffff;
  border: 2px solid #b2b0b0;
  border-radius: 7px;
  padding: 20px ;
}

.group {S
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="number"] {
    padding: 10px;
    border: 2px solid #c7c3c3;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 7px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
}

button:hover {
    background-color: #007bff;
}

.result {
    max-width: 600px;
    margin-top: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}